
    <div id="footer-top">
        <div class="container">
            <div class="row">
                <div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
                    <h2><a href="/"><img src="./../../site/images/thaiLu.jpg" height="65" width="250"></a></h2>
                    <p>
                        Duy Thai Mobile được thành lập năm 2020 bởi ông Nguyễn Duy Thái,
                        một tài năng trẻ đến từ Thái Bình, sinh ngày 16 tháng 1 năm 2000.
                        Một người có đam mê và tâm huyết, yêu công nghệ cũng như những thứ mới mẻ!
                    </p>
                </div>
                <div id="address" class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Thông Tin Liên lạc</h3>
                    <p>Address : Hoàng Mai, Hà Nội, Việt Nam</p>
                    <p>Email : DuyThaiMobile@gmail.com
                    </p>
                    <p>Phone 1 : 0123456789
                    </p>
                    <p>Phone 2 : 0123456789</p>
                </div>
                <div id="service" class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Chính Sách</h3>
                    <p>Tìm hiểu về mua trả góp
                    </p>
                    <p>Tìm hiểu chính sách thanh toán</p>
                    <p>Chính sách đổi trả
                    </p>
                    <p>Chính sách giao và nhận hàng
                    </p>
                </div>
                <div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
                    <h3>Liên hệ</h3>
                    <p>Gọi mua hàng 1800.1060
                    </p>
                    <p>Gọi khiếu nại 1800.1062
                    </p>
                    <p>Gọi bảo hành 1800.1064
                    </p>
                    <p>Kỹ thuật 1800.1763
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--	Footer	-->
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <p>
                        @NguyenDuyThai_Ph09550_FPTPolytechnic
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--	End Footer	-->
    <div id="back-to-top" class="back-to-top" data-toggle="tooltip" data-placement="left" title="Trở lên đầu trang">
        <span class="glyphicon glyphicon-circle-arrow-up text-primary"></span></div>
    <script>$("#back-to-top").click(function () { return $("body, html").animate({ scrollTop: 0 }, 400), !1 });
        $(function () { $('[data-toggle="tooltip"]').tooltip() });</script>
</body>

</html>

</body>

</html>