<div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
    <div id="banner">
        <div class="banner-item">
            <a href="./Products/Iphone.html"><img class="img-fluid" src="./../../site/images/banner1.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="./Products/nokia.html"><img class="img-fluid" src="./../../site/images/banner_vin.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="./Products/Iphone.html"><img class="img-fluid" src="./../../site/images/banner-samsung.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="./Products/Iphone.html"><img class="img-fluid"
                    src="./../../site/images/banner_quanghai.jpg"></a>
        </div>
        <div class="banner-item">
            <a href="./Products/Iphone.html"><img class="img-fluid" src="./../../site/images/banner_iphone.jpg"></a>
        </div>
    </div>
</div>